$baseFontSize: 14px;
$baseFontFamily: Roboto, sans-serif;
$baseFontWeight: 300;
$textColor: #666;
$textColorLight: #aaa;
$textColorInverted: #fff;
$settingsMainColor: #7b5fa4;
$settingsAboutBackground: #eee;
$settingsSuccessBackgroundColor: #5eba7d;

$__indicatorWidth: 40px;
$__indicatorColor: rgba(0, 0, 0, 0.5);
$__indicatorIconSize: 32px;