@import "vars";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 10px auto 20px;
  padding: 20px;
  font-size: $baseFontSize;
  font-family: $baseFontFamily;
  font-weight: $baseFontWeight;
  color: $textColor;
  width: 720px;
}

strong {
  font-weight: 400;
}

section#about {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3px 20px;
  font-size: 90%;
  background: $settingsAboutBackground;
  border-bottom: 1px solid #d3d3d3;
  z-index: 2;

  > div {
    margin: 0 auto;
    width: 660px;

    > span#copyright {
      float: right;
    }

    > a {
      color: $settingsMainColor;
      text-decoration: none;
      font-weight: 400;
    }
  }

}

div.box {
  margin-top: 30px;

  label {
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    margin-right: 15px;
  }

  input {
    display: inline-block;
    vertical-align: top;

    &[type='checkbox'] {
      margin-top: 3px;
    }
  }

  select {
    display: inline-block;
    vertical-align: top;
    margin-top: -4px;
  }

  span.subLabel {
    display: inline-block;
    vertical-align: top;
    font-style: italic;
    margin: 0 10px 0 20px;
  }

  label + span.subLabel {
    margin-left: 0;
  }

  input[type='range'] + span {
    margin-left: 5px;

    &::after {
      content: attr(data-unit);
      margin-left: 2px;
      font-size: 90%;
    }
  }

  p {
    font-size: 90%;
    color: $textColorLight;
    margin-top: 7px;
    font-style: italic;
  }
}

button#save {
  display: inline-block;
  margin-top: 50px;
  outline: none;
  border: none;
  text-shadow: none;
  box-shadow: none;
  color: $textColorInverted;
  background: $settingsMainColor;
  padding: 3px 12px 4px;
  border-radius: 3px;
  cursor: pointer;
}

button#restore {
  display: inline-block;
  outline: none;
  border: none;
  text-shadow: none;
  box-shadow: none;
  background: transparent;
  padding: 0 7px;
  margin-left: 15px;
  vertical-align: middle;
  font-size: 90%;
  cursor: pointer;
  transition: background 0.5s;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

p#copyright {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 90%;
  color: $textColorLight;
}

div#content {
  transition: opacity 0.3s;
}

div#savedMsg, div#restoreMsg {
  position: fixed;
  top: calc(50% - 50px);
  left: 0;
  width: 100%;
  height: 55px;
  padding: 15px 0;
  font-size: 140%;
  text-align: center;
  color: $textColorInverted;
  background: $settingsSuccessBackgroundColor;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

body {

  &.saved, &.restored {

    div#content {
      opacity: 0.2;
      pointer-events: none;
    }
  }

  &.saved div#savedMsg {
    opacity: 1;
    pointer-events: auto;
  }

  &.restored div#restoreMsg {
    opacity: 1;
    pointer-events: auto;
  }
}