@import "include/vars";
@import "include/mixins";

body > div#redeviation-lsb-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: #{2147483647 - 3};

  &.redeviation-lsb-visible {

    > div {
      position: absolute;
      transform: translate3d(-$__indicatorWidth, 0, 0);
      top: 0;
      left: 0;
      width: $__indicatorWidth !important;
      height: 100%;
      background: $__indicatorColor;
      transition: opacity 0.3s, transform 0.3s;
      z-index: 2;
      @extend %hidden;

      > span {
        background: chromeUrl('arrow.png') no-repeat center / $__indicatorIconSize;
        z-index: 2;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @supports (-moz-appearance: none) {
          background-image: url('/img/arrow.png');
        }
      }
    }

    &.redeviation-lsb-hover { // hover

      > div {
        transform: translate3d(0, 0, 0);
        @extend %visible;
      }
    }
  }

  @media print {
    display: none;
  }
}